* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
   
li {
    list-style: none;
}

header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav {
    display: grid;
    grid-template-columns: 150px auto 150px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: rgb(247, 244, 242);
    padding: 0 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1em;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.logo img {
    align-items: center;
    width: 85%;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social img {
    max-width: 30px;
}


/* DROPDOWN MENU */
   
.dropdown {
    background-color: rgb(247, 244, 242);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}
   
.dropdown li + li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type=checkbox]{
    display: none;
} 
   
/*HAMBURGER MENU*/
   
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
   
/* APPLYING MEDIA QUERIES */
   
@media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:rgb(247, 244, 242);
    right: 0;
    left: 0;
    text-align: center;
    padding: 25px 0;
    margin-top: 5px;
}
   
.menu li + li {
    margin-top: 12px;
}
   
input[type=checkbox]:checked ~ .menu{
    display: block;
}
   
.hamburger {
    display: block;
}
   
.dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
}

}

/* RESPONSIVE MENU END */

body {
    padding-top: 35px;
    background-image: url('playa.jpeg');
    width: auto;
    height: 100%;
    opacity: 80%;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.home {
    background: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img {
    width: 60%;
}

.home i {
    text-decoration: none;
    background-color: white;
    color: black;
    transform-origin: center;
    animation: beat .3s infinite alternate;
}

@keyframes beat {
    to { transform: scale(1.4); }
}

.seccion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: center;
}

.logos img {
    width: 150px;
}

.seccioncd {
    height: 100vh;
    background: #d0d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cds {
    width: 30%;
    border-radius: 15px;
}

.objetivo {
    background-image: url('sunset.jpg');
    width: auto;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ideas {
    background-image: url('beach.jpeg');
    width: auto;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bx bxs-chevrons-down {
    margin-top: 35px;
}

.bx {
    margin-top: 15px;
}

.texto {
    padding: 40px 50px 25px 50px;
    line-height: 25px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin: 0 25px 0 25px;
    padding: 35px;
    background: #ffffff;
    max-width: 650px;
    min-height: 450px;
    border-radius: 15px;
}

.boxcd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin: 0 25px 0 25px;
    padding: 35px;
    background: #ffffff;
    max-width: 1080px;
    min-height: 450px;
    border-radius: 15px;
}

/* ----------RESPONSIVE---------- */

@media (max-width: 768px) {
    
    .home img {
        width: 100%;
    }

    .seccioncd {
        height: auto;
        background: #d0d0d0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .objetivo {
        background-image: url('sunset.jpg');
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
    }
    
    .ideas {
        background-image: url('beach.jpeg');
        width: 100%;
        height: 100vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        -o-background-size:cover;
    }
    

    .box {
        margin: 40px 20px 40px 20px;
        padding: 40px 5px 20px 5px;
    }

    .boxcd {
        margin: 40px 20px 40px 20px;
    }

    .cd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cds {
        width: 100%;
        margin: 10px;
    }
 }


 #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #00aae8;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #32caf0;
  }